.post-box {
	color: rgba(99, 94, 94, 0.973);
	text-align: justify;
	width: 100%;
	height: 100%;
	margin: 0px 0px 0px 100px;
}

.post-box > span {
	color: tomato;
	height: 100%;
	float: right;
}

.wppv-box {
	display: flex;
	align-items: baseline;
	align-content: center;
	text-align: center;
}

.wppv-a {
	color: rgb(22, 82, 105);
	text-decoration: none;
}

.wppv-a:hover {
	color: rgb(175, 26, 26);
	text-decoration: underline;
}
